.App {
  text-align: center;
  background: radial-gradient(#e7c5a7, #fff);
}

html {
  background-color: #000;
}

a {
  text-decoration: none;
}

main-img {
  width: 390px;
}

hr {
  margin: 3%;
}

h2 {
  font-weight: bold;
  font-style: oblique;
  text-shadow: 2px 2px
    linear-gradient(to right, #21def3, #0b163f, #ac8888, #405dde);
  font-size: 36px;
  margin: 100px 0px 0px 0px;
}

.features {
  padding: 0% 0% 5% 0%;
}

.feature-specs {
  padding-bottom: 5%;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial ', Arial, sans-serif;
  padding: 3%;
  font-size: 64px;
  background: linear-gradient(to right, #21def3, #0b163f, #ac8888, #405dde);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar {
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 1;
  margin-bottom: 3%;
  background-color: #06d6a0;
}

.logo {
  width: 8em;
}

.navbar-brand {
  color: #f2a900;
  font-weight: 900;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar-brand:hover {
  color: #f2f2f2;
}

.nav-link {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}

.nav-link:hover {
  color: #f2f2f2;
}

.card {
  width: 600px;
  display: flex;
  padding: 20px 10px;
  margin: 0px 20px;
}

.card-wrapper {
  display: flex;
}

.card-body {
  background-color: #fff;
  color: rgb(27, 27, 27);
  font-weight: 500;
}

.card-text {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: left;
  font-size: smaller;
}

.card-body img {
  border-radius: 3%;
  margin-top: 30px;
}

.pricing {
  padding-bottom: 5%;
}

.pricingTable {
  margin-top: 30px;
  text-align: center;
  position: relative;
}
.pricingTable .pricing_heading:after {
  content: '';
  width: 36px;
  height: 29.5%;
  background: #ef476f;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
  transform: skewY(45deg) translateY(18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  background: #ef476f;
  padding: 15px 0 0;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable .value {
  display: block;
  font-size: 35px;
  font-weight: 700;
  color: #000;
  background: #ef476f;
  padding: 5px 0 10px;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .title,
.pricingTable:hover .value {
  color: #fff;
}
.pricingTable .month {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.pricingTable .content {
  border-left: 1px solid #f2f2f2;
  position: relative;
}
.pricingTable .content:after {
  content: '';
  width: 35px;
  height: 100%;
  background: #f8f8f8;
  box-shadow: 9px 9px 20px #ddd;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: skewY(-45deg) translateY(-18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .content ul {
  padding: 0;
  margin: 0 35px 0 0;
  list-style: none;
  background: #fff;
}
.pricingTable .content ul li {
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 23px;
  padding: 11px 0;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link {
  background: #fff;
  padding: 20px 0;
  margin-right: 35px;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link a {
  display: inline-block;
  padding: 9px 20px;
  font-weight: 700;
  color: #ef476f;
  text-transform: uppercase;
  border: 1px solid #ef476f;
  background: #fff;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .link a {
  color: #fff;
  background: #f2a900;
  border: 1px solid #f2a900;
}
.pricingTable:hover .pricing_heading:after,
.pricingTable:hover .title,
.pricingTable:hover .value {
  background: #f2a900;
}
@media only screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 35px;
  }
}

.pricingCont {
  justify-content: space-between;
}

.footer {
  padding: 25px;
}

.copyright {
  font-size: 18px;
  background: linear-gradient(to right, #21def3, #0b163f, #ac8888, #405dde);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.footer .brand {
  width: 250px;
  padding: 20px;
}

.footer-items {
  place-content: space-around;
}

@media (max-width: 600px) {
  h1 {
    font-size: x-large;
  }

  img {
    width: -webkit-fill-available;
  }

  .card-wrapper {
    display: grid;
    width: -webkit-fill-available;
  }

  .card {
    width: -webkit-fill-available;
  }

  .footer {
    display: flex;
    font-size: x-small;
  }
}
